.itasks-leaflet-window {
	color: var(--canvas-text-color);
	background-color: var(--canvas-base-color);
	border: 3px solid var(--window-header-base-color);
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	font-family: tahoma, arial, verdana, sans-serif;
	font-weight: normal;
}
.itasks-leaflet-window > .titlebar {
	cursor: move;
	color: var(--window-header-text-color);
	background-color: var(--window-header-base-color);
	background: linear-gradient(var(--window-header-base-color-lighter), var(--window-header-base-color));
	font-weight: bold;
	font-size: 9pt;
	height: 25px;
	align-self: stretch;
	display: flex;
	align-items: center;
}
.titlebar a.button {
	color: var(--panel-header-text-color);
	margin: 4px 4px 4px 0;
	top: 0px;
	font-weight: bold;
	font-size: 8px;
	line-height: 8px;
	background: var(--panel-header-base-color-lighter);
	border: 1px solid var(--panel-header-text-color);
	border-radius: 2px;
	padding: 0 4px 2px 4px;
	text-decoration: none;
	width: 1em;
	text-align: center;
}
.titlebar .titleText {
	margin: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
}
.marker-tooltip {
	position: fixed;
	/* 1001 to be one layer above the leaflet attribution */
	z-index: 1001;
	background: var(--tooltip-background-color);
	color: var(--tooltip-text-color);
	padding: 5px;
	border: 2px solid var(--window-border-color);
}
.leaflet-marker-draggable {
	/* Markers' z-index depend on y-positions (https://github.com/Leaflet/Leaflet/issues/5560#issuecomment-308393252),
	 * but a negative z-index can prevent the marker to be draggable. So we fix the z-index for such markers.
	 */
	z-index: 1001 !important;
}
